[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
awscosts = "*"
pandas = "*"
numpy = "*"
plotly = "*"
"52ab930" = {path = "awscosts", editable = true}
pytest = "*"
jupyter = "*"
ipywidgets = "*"


[dev-packages]

"pep8" = "*"
"flake8" = "*"
jedi = "*"
python-language-server = "*"
